.jumbotron {
    background-color: #243145;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#navbar li {
    text-align: center;
    float: left;
    border-right: 1px solid white;
}

#navbar li a {
    display: inline-block;
    color: white;
    background-color: #243145;
    padding: 10px 90px;
    text-decoration: none;
}

#navbar li a:hover {
    color: #70a7ff;
}

#navbar ul {
  display: inline-block;
}

body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Merriweather', serif;
}

img {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

h4 {
  font-style: italic;
  text-align: center;
}

footer {
  text-align: right;
  font-size: 12px;
}
