h1 {
  color: #33485e;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 1px;
}

h2{
  font-family: 'Ubuntu', sans-serif;
  background-color: #33485e;
  color: white;
  padding: 5px;
}

h3{
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
}

h5 {
  font-weight: normal;
  font-style: italic;
  font-family: 'Ubuntu', sans-serif;
}

img {
  width: 100%;
  margin-bottom: 20px;
}


body {
  font-family: 'Amiri', serif;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#navigation-links {
  text-align: center;
  margin: 0px;
  padding-left: 0;
}

#navigation-links li {
  display: inline-block;
}

#navigation-links li:not(:last-child)::after{
  content: "|";
  margin: 0 .25em;
}

.maincontent {
  /* width: 80%; */
  margin: 0 auto;
}

.container-experience p{
  font-size: 14px;
}

.container-experience h2, .container-experience h3, .container-experience h4, .container-experience h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

mark {
  color: white;
  background-color: #33485e;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.intro{
  line-height: 150%;
}

.education li{
  font-style: italic;
}

.center-top-content {
  border-bottom: 4px dotted #33485e;
  font-weight: bold;
}

.personal-title {
  text-align: center;
  color: grey;
  font-style: italic;
}

.sidebar {
  padding-right: 20px;
}

.email {
  text-align: center;
}
